<div class="well">
	<p>
		Hello! My name is Steven MacCoun, and you have found my page. Have a look around!
	</p>
	<br />
</div>
<p>
	<text style="font-weight: bold;">You can also find me at:</text>
</p>
<table>
	<tr>
		<td>
			<div class="find-me-at-container">
				<%= link_to content_tag(:span, ""), "http://www.linkedin.com/pub/steven-maccoun/38/48b/b44", target: "_blank"  %>
				<div class="find-me-at">
					<div class="find-me-at-icon">
						<%= image_tag("http://linkedin.com/favicon.ico", alt: "LinkedIn", width: 15) %> 
					</div>
					<div class="find-me-at-label">
						LinkedIn
					</div>
				</div>
			</div>
		</td>
		<td>
			<div class="find-me-at-container">
				<%= link_to content_tag(:span, ""), "https://github.com/theraccoun", target: "_blank"  %>
				<div class="find-me-at">
					<div class="find-me-at-icon">
						<%= image_tag("http://github.com/favicon.ico", alt: "GitHub", width: 15) %>
					</div>
					<div class="find-me-at-label">
						GitHub
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="find-me-at-container">
				<%= link_to content_tag(:span, ""), "http://stackoverflow.com/users/937726/smaccoun", target: "_blank"  %>
				<div class="find-me-at">
					<div class="find-me-at-icon">
						<%= image_tag("http://stackoverflow.com/favicon.ico", alt: "Stack Overflow", width: 15) %>
					</div>
					<div class="find-me-at-label">
						Stack Overflow
					</div>
				</div>
			</div>
		</td>
		<td>
			<div class="find-me-at-container">
				<%= link_to content_tag(:span, ""), 'http://www.codecademy.com/users/cssace83739', target: "_blank"  %>
				<div class="find-me-at">
					<div class="find-me-at-icon">
						<%= image_tag("http://codecademy.com/favicon.ico", alt: "Codecademy", width: 15) %>
					</div>
					<div class="find-me-at-label">
						Codecademy
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
