<%=provide(:title, 'Resume')%>

<p>
I am currently a graduate student at the <%= link_to 'University of Colorado', 'http://www.colorado.edu/', target: "_blank" %>
 at Boulder
studying <%= link_to 'computer science', 'http://www.colorado.edu/cs/', target: "_blank" %>.
I did my undergraduate in <%= link_to 'physics', 'http://www.colorado.edu/physics/', target: "_blank" %>
</p>
<br />

<table>
	<tr>
		<td>
			<b>Check out my</b>
		</td>
		<td>
			<div class='find-me-at-container' style="width: 115px">
				<%= link_to content_tag(:span, ""), '/assets/resume.pdf', target: "_blank"  %>
				<div class='find-me-at'>
					<div class="find-me-at-icon">
						<%= image_tag("/assets/readericon.png", alt: "pdf", width: 20) %>
					</div>
					<div class="find-me-at-label" style="text-align:center">
						<b>resume</b>
					</div>
				</div>
			</div>
		</td>
		<td>
			<div class='find-me-at-container' style="width: 300px">
			<%= link_to content_tag(:span, ""), '/assets/gsop.doc', target: "_blank"  %>
			<div class='find-me-at'>
					<div class="find-me-at-label" style="text-align:center">
						<b>Grad Statement of Purpose</b>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>